<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        <add name="ImageHandler" path="*.jpg" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <environmentVariables />
      </aspNetCore>
      <security>
        <requestFiltering>
          <fileExtensions>
            <add fileExtension=".appinstaller" allowed="true" />
          </fileExtensions>
        </requestFiltering>
      </security>
      <staticContent>
        <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
        <remove fileExtension=".woff" />
        <remove fileExtension=".woff2" />
        <remove fileExtension=".ttf" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        <!--<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />-->
        <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
      </staticContent>
      <httpProtocol>
        <customHeaders>
          <!--<add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Credentials" value="true" />-->
          <add name="Access-Control-Allow-Headers" value="Content-Type" />
          <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>